{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
                
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div class="content-group-lg">
                            <h2 class="text-semibold">About</h2>
                            <p>Le elezioni politiche si avvicinano, <a href="http://www.monitoraggioelezioni.it">Monitoraggio Elezioni</a> si pone l'obiettivo di monitorare le <strong>campagne social</strong> dei principali candidati politici italiani, in occasione delle elezioni 2018. L'attuale legge sulla <a href="https://it.wikipedia.org/wiki/Par_condicio" target="_blank" rel="noopener">par condicio</a>&nbsp;pone specifici limiti agli interventi politici in televisione ma, non presta troppa attenzione all'evoluzione delle campagne politiche sui social e, in generale, sul mondo del web.&nbsp;</p>
                            
                                <strong>L’osservatorio</strong> monitora e storicizza le principali fonti social utilizzate dai candidati alle elezioni politiche ed espone continuamente le informazioni raccolte.</br>
                                Il codice open source per la raccolta e la sintesi dei dati presenti sul sito è pubblicato sui repository GitHub: <a href="https://github.com/Cesaaar/od_elezioni">Raccolta</a> e <a href="https://github.com/Cesaaar/mon_elezioni">Monitoraggio</a></p>
                        </div>
                        
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Supporto alla Navigazione:</h6>
                            <ul class="list">
                                <li><a href="http://www.monitoraggioelezioni.it/">Osservatorio</a></br> L'osservatorio raccoglie le principali informazioni provenienti dal web e dal mondo social e le espone attraverso degli <strong>indicatori sintetici</strong></li>
                                <li><a href="http://www.monitoraggioelezioni.it/mappe">Luoghi</a></br> Rappresenta i principali <strong>luoghi associati ai candidati politici</strong> oggetto di monitoraggio. La grandezza della bolla dipende dal numero di menzioni associate al particolare luogo</li>
                                <li><a href="http://www.monitoraggioelezioni.it/timeline">Timeline Social</a></br> La timeline social mostra, in ordine cronologico, gli <strong>ultimi post Facebook e Twitter</strong> dei principali candidati in corsa alle elezioni politiche</li>
                                <li><a href="http://www.monitoraggioelezioni.it/news">News</a></br> Espone una raccolta delle <strong>ultime news</strong>, in ordine cronologico, associate ai candidati oggetto di monitoraggio.Le news sono fornite da&nbsp;<a href="https://newsapi.org/">https://newsapi.org/</a></li>
                                <li><a href="http://www.monitoraggioelezioni.it/cerca">Cerca Argomento</a></br>Fornisce la possibilità di cercare nel database delle news, dei post e dei tweet qualsiasi argomento relativo ai candidati politici.</li>
                                <li><a href="http://www.monitoraggioelezioni.it/contatti">Contatti</a></br> Per chiarimenti e supporto</li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link_home").innerHTML = "About";
    </script>

{% endblock %}
