{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
            
            <p>
            
            Attività di monitoraggio delle campagne social dei principali attori politici italiani in occasione delle elezioni 2018.
            </p>
            <p>
            L’osservatorio monitora e storicizza le principali fonti social utilizzate dai candidati alle elezioni politiche ed espone continuamente le informazioni raccolte.
            </p>
		
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link_home").innerHTML = "About";
    </script>

{% endblock %}
