{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
                
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div class="content-group-lg">
                            <h3 class="text-semibold">About</h3>
                            <p>Le elezioni politiche si avvicinano, <a href="http://www.monitoraggioelezioni.it">Monitoraggio Elezioni</a> si pone l'obiettivo di monitorare le <strong>campagne social</strong> dei principali candidati politici italiani, in occasione delle elezioni 2018.</br>
                                <strong>L’osservatorio</strong> monitora e storicizza le principali fonti social utilizzate dai candidati alle elezioni politiche ed espone continuamente le informazioni raccolte. </br>
                                Il codice per la raccolta e la pubblicazione dei dati presenti sul sito è pubblicato sui repository GitHub: <a href="https://github.com/Cesaaar/od_elezioni">Raccolta</a> e <a href="https://github.com/Cesaaar/mon_elezioni">Monitoraggio</a></p>
                        </div>
                        
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Supporto alla Navigazione:</h6>
                            <ul class="list">
                                <li><a href="http://www.monitoraggioelezioni.it/">Timeline Social</a></br> La timeline social mostra, in ordine cronologico, gli <strong>ultimi post Facebook e Twitter</strong> dei principali candidati in corsa alle elezioni politiche 2018</li>
                                <li><a href="http://www.monitoraggioelezioni.it/mappe">Luoghi</a></br> Principali <strog>luoghi associati ai candidati politici</strong> oggetto di monitoraggio. La grandezza della bolla dipende dal numero di menzioni associate al particolare luogo</li>
                                <li><a href="http://www.monitoraggioelezioni.it/news">News</a></br> Raccolta delle <strong>ultime news</strong>, in ordine cronologico, associate ai candidati oggetto di monitoraggio</li>
                                <li><a href="http://www.monitoraggioelezioni.it/osservatorio">Osservatorio</a></br> L'osservatorio raccoglie le <strong>principali informazioni</strong> provenienti dal web e dal mondo social e le espone attraverso degli <strong>indicatori</strong></li>
                                <li><a href="http://www.monitoraggioelezioni.it/contatti">Contatti</a></br> Per chiarimenti e supporto</li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link_home").innerHTML = "About";
    </script>

{% endblock %}
