{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
                
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="thumbnail no-padding">
                            <div class="thumb">
                                <img src="{{ url_for('static', filename='assets/images/Andrea.jpg') }}" alt="">
                                    </div>
                            
                            <div class="caption text-center">
                                <h6 class="text-semibold no-margin">Andrea Cesarini <small class="display-block"></small></h6>
                                <ul class="icons-list mt-15">
                                    <li><a href="https://www.linkedin.com/in/andrea-cesarini-a645273b/" data-popup="tooltip" title="Linkedin" data-container="body" target="_blank"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="https://twitter.com/acesar85" data-popup="tooltip" title="Twitter" data-container="body" target="_blank"><i class="icon-twitter"></i></a></li>
                                    <li><a href="https://github.com/Cesaaar" data-popup="tooltip" title="Github" data-container="body" target="_blank"><i class="icon-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        
		
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

{% endblock %}
