{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
                
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="thumbnail no-padding">                            
                            <div class="caption text-center">
                                <h6 class="text-semibold no-margin">Andrea Cesarini
                                    <small class="display-block">Realizzazione
                                    </small>
                                </h6>
                                <ul class="icons-list mt-15">
                                    <li><a href="mailto:andrea.cesarini85@gmail.com" data-popup="tooltip" title="Mail" data-container="body" target="_blank"><i class="icon-envelop5"></i></a></li>
                                    <li><a href="https://twitter.com/acesar85" data-popup="tooltip" title="Twitter" data-container="body" target="_blank"><i class="icon-twitter"></i></a></li>
                                    <li><a href="https://github.com/Cesaaar" data-popup="tooltip" title="Github" data-container="body" target="_blank"><i class="icon-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="thumbnail no-padding">
                            <div class="caption text-center">
                                <h6 class="text-semibold no-margin">Andrea Barbaresi
                                    <small class="display-block">Sponsorizzazione</small>
                                </h6>
                                <ul class="icons-list mt-15">
                                    <li><a href="mailto:andreabarbaresi92@gmail.com" data-popup="tooltip" title="Mail" data-container="body" target="_blank"><i class="icon-envelop5"></i></a></li>
                                    <li><a href="https://twitter.com/aner_andros6" data-popup="tooltip" title="Twitter" data-container="body" target="_blank"><i class="icon-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        
		
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link_home").innerHTML = "Contatti";
    </script>

{% endblock %}
