{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
            
            <div class="panel">
                <div class="panel-body">
                    <h2 class="text-center content-group-lg">
                        Timeline Social
                        <small class="display-block">La timeline social mostra, in ordine cronologico, gli ultimi post Facebook e Twitter dei principali
                        candidati in corsa alle <strong>elezioni politiche</strong> 2018</small>
                    </h2>
                    <div style="float:right">
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
                    </div>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.monitoraggioelezioni.it&layout=button&size=small&mobile_iframe=true&appId=165415010725423&width=79&height=20" width="79" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" align="right">
                    </iframe>
                </div>
            </div>
			
            <!-- Timeline -->
            <div class="timeline timeline-center">
                <div class="timeline-container">
                    
                    {% for t in timeline %}
                        <!-- Blog post -->
                        {% if loop.index%2!=0 %}
                        <div class="timeline-row">
                        {% else %}
                        <div class="timeline-row post-even">
                        {% endif %}
                        {% if loop.index in (3,6,9,12) %}
                        <div class="timeline-icon">
                            <div class="bg-info-400">
                                <i class="icon-feed2"></i>
                            </div>
                        </div>
                        <div class="timeline-time">
                            <span class="text-muted"></span>
                        </div>
                        <div class="panel panel-flat timeline-content">
                            </br>
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                style="display:block"
                                data-ad-format="fluid"
                                data-ad-layout-key="-fe+6a+31-k2+pr"
                                data-ad-client="ca-pub-6362347303628164"
                                data-ad-slot="3048645493"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </br>
                        </div>
                        {% else %}
                        <div class="timeline-icon">
                            {% if t.utente=='Berlusconi' %}
                            <img src="{{ url_for('static', filename='assets/images/Silvio.jpg') }}" alt="Silvio Berlusconi">
                            {% elif t.utente=='Renzi' %}
                            <img src="{{ url_for('static', filename='assets/images/Renzi.jpg') }}" alt="Matteo Renzi">
                            {% elif t.utente=='Di Maio' %}
                            <img src="{{ url_for('static', filename='assets/images/DiMaio.png') }}" alt="Luigi Di Maio">
                            {% endif %}
                        </div>
                        
                        <div class="timeline-time">
                            {% if t.sorgente=='twitter'%}
                            <strong>{{t.utente}}</strong> ha aggiunto un nuovo tweet
                            {% elif t.sorgente=='facebook' %}
                            <strong>{{t.utente}}</strong> ha aggiunto un nuovo post
                            {% else %}
                            nuova <strong>news</strong>
                            {% endif %}
                            <span class="text-muted">{{t.dt_post|strftime}}</span>
                        </div>
                        
                        <div class="panel panel-flat timeline-content">
                            <div class="panel-heading">
                                <h6 class="panel-title">{{t.utente}}</h6>
                                <div class="heading-elements not-collapsible">
                                    {% if t.sorgente=='twitter'%}
                                    <span class="heading-text"><i class="icon-twitter2 position-left text-primary"></i>{{t.dt_post|strftime}}</span>
                                    {% elif t.sorgente=='facebook' %}
                                    <span class="heading-text"><i class="icon-facebook2 position-left text-primary"></i>{{t.dt_post|strftime}}</span>
                                    {% elif t.sorgente=='news' %}
                                     <span class="heading-text"><i class="icon-feed3 position-left text-primary"></i>{{t.dt_post|strftime}}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="panel-body">
                                <blockquote>
                                    <p>{{t.msg[0:250]}}</p>
                                </blockquote>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements not-collapsible">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>
                                        <i class="icon-heart6 text-size-base text-pink position-left"></i>{{t.likes}}
                                        </li>
                                    </ul>
                                    <span class="heading-btn pull-right">
                                        {% if t.sorgente=='twitter'%}
                                            {% if t.utente=='Berlusconi' %}
                                            <a href="https://twitter.com/{{id_user3_tw}}" target='_blank' class="btn btn-link">vai al tweet <i class="icon-arrow-right14 position-right"></i></a>
                                            {% elif t.utente=='Di Maio' %}
                                            <a href="https://twitter.com/{{id_user2_tw}}" target='_blank' class="btn btn-link">vai al tweet <i class="icon-arrow-right14 position-right"></i></a>
                                            {% elif t.utente=='Renzi' %}
                                            <a href="https://twitter.com/{{id_user1_tw}}" target='_blank' class="btn btn-link">vai al tweet <i class="icon-arrow-right14 position-right"></i></a>
                                            {% endif %}
                                        {% elif t.sorgente=='facebook'%}
                                            {% if t.utente=='Berlusconi' %}
                                            <a href="https://www.facebook.com/{{id_user3_fb}}" target='_blank' class="btn btn-link">vai al post <i class="icon-arrow-right14 position-right"></i></a>
                                            {% elif t.utente=='Di Maio' %}
                                            <a href="https://www.facebook.com/{{id_user2_fb}}" target='_blank' class="btn btn-link">vai al post <i class="icon-arrow-right14 position-right"></i></a>
                                            {% elif t.utente=='Renzi' %}
                                            <a href="https://www.facebook.com/{{id_user1_fb}}" target='_blank' class="btn btn-link">vai al post <i class="icon-arrow-right14 position-right"></i></a>
                                            {% endif %}
                                        {% else %}
                                        <a href="{{ url_for('news')}}" class="btn btn-link">vai alle news <i class="icon-arrow-right14 position-right"></i></a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                         {% endif %}
                    </div>
                    <!-- /blog post -->
                   
                    {% endfor %}
                    
                </div>
            </div>
				
		
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link0").setAttribute('class', "active");
    document.getElementById("link_home").innerHTML = "Timeline";
    </script>


{% endblock %}
