{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
                
                <div class="panel">
                    <div class="panel-body">
                        <h2 class="text-center content-group-lg">
                            Luoghi
                            <small class="display-block">
                                <h6>Principali <strong>luoghi</strong> associati ai <strong>candidati politici</strong> oggetto di monitoraggio. La grandezza della bolla dipende dal numero di menzioni associate al particolare luogo
                                </h6>
                            </small>
                        </h2>
                    </div>
                </div>
                
            <div class="row">
                    <!-- World map -->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">Il treno del PD</h5>
                        </div>
                        <div class="panel-body">
                            <div class="map-container map-world-1"></div>
                        </div>
                    </div>
                    
                    <!-- Basic datatable -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">Top 5 Menzioni - Renzi</h5>
                        </div>
                        <table class="table datatable-basic">
                            <thead>
                                <tr>
                                    <th>Luogo</th>
                                    <th>Menzioni</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for m in map1 %}
                            <tr>
                                <td>{{m.provincia}}</td>
                                <td>{{m.menzioni}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                     <!-- /Basic datatable -->
                    
                    </div>
                    <!-- /world map -->
                    
                    <!-- World map -->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Il rally del M5S</h5>
                            </div>
                            <div class="panel-body">
                                <div class="map-container map-world-2"></div>
                            </div>
                        </div>
                        
                        <!-- Basic datatable -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Top 5 Menzioni - Di Maio</h5>
                            </div>
                            <table class="table datatable-basic">
                                <thead>
                                    <tr>
                                        <th>Luogo</th>
                                        <th>Menzioni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for m in map2 %}
                                    <tr>
                                        <td>{{m.provincia}}</td>
                                        <td>{{m.menzioni}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /Basic datatable -->
                        
                    </div>
                    <!-- /world map -->
                    
                    <!-- World map -->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">La campagna di Forza Italia</h5>
                            </div>
                            <div class="panel-body">
                                <div class="map-container map-world-3"></div>
                            </div>
                        </div>
                        
                        <!-- Basic datatable -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h5 class="panel-title">Top 5 Menzioni - Berlusconi</h5>
                            </div>
                            <table class="table datatable-basic">
                                <thead>
                                    <tr>
                                        <th>Luogo</th>
                                        <th>Menzioni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for m in map3 %}
                                    <tr>
                                        <td>{{m.provincia}}</td>
                                        <td>{{m.menzioni}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /Basic datatable -->
    
                    </div>
                    <!-- /world map -->
            </div>
		
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link4").setAttribute('class', "active");
    document.getElementById("link_home").innerHTML = "Luoghi";
    </script>

   <script type="text/javascript"  src="{{ url_for('static', filename='assets/js/elezioni_maps.js') }}"></script>

{% endblock %}


