{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
                
                <div class="panel">
                    <div class="panel-body">
                        <h2 class="text-center content-group-lg">
                            News
                            <small class="display-block">Raccolta delle ultime news, in ordine cronologico, associate ai candidati alle <strong>elezioni politiche</strong> oggetto di monitoraggio</small>
                        </h2>
                        <div style="float:right">
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
                        </div>
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.monitoraggioelezioni.it%2Fnews&layout=button&size=small&mobile_iframe=true&appId=165415010725423&width=79&height=20" width="79" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" align="right"></iframe>
                    </div>
                </div>
			
			<!-- Main charts  row 1-->
				<div class="row">
                    <!-- col 0-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        {% for n in news %}
                        {% if loop.index==7 %}
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                        <div class="panel-body">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                style="display:block"
                                data-ad-format="fluid"
                                data-ad-layout-key="-8h+1v-ds+e7+gn"
                                data-ad-client="ca-pub-6362347303628164"
                                data-ad-slot="3263509747"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                        </div>
                        </div>
                        {% elif loop.index in (1,4,10,13) %}
                        <!-- Blog layout #1 with image 0 - 3 - 6 -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{n.titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{n.img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{internal_link[loop.index-1]}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{n.descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{n.fonte}}</p></li>
                                        <li>{{n.dt_post}} - {{n.hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{internal_link[loop.index-1]}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #1 with image -->
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- /col 0-->

                    <!-- col 1-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        {% for n in news %}
                        {% if loop.index in (2,5,8,11,14) %}
                        <!-- Blog layout #1 with image 1 - 4 - 7-->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{n.titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{n.img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{internal_link[loop.index-1]}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{n.descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{n.fonte}}</p></li>
                                        <li>{{n.dt_post}} - {{n.hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{internal_link[loop.index-1]}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #4 with image -->
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- /col 1-->
                    
                    <!-- col 2-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        {% for n in news %}
                        {% if loop.index==15 %}
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-body">
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <ins class="adsbygoogle"
                                    style="display:block"
                                    data-ad-format="fluid"
                                    data-ad-layout-key="-8h+1v-ds+e7+gn"
                                    data-ad-client="ca-pub-6362347303628164"
                                    data-ad-slot="3263509747"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                            </div>
                        </div>
                        {% elif loop.index in (3,6,9,12) %}
                        <!-- Blog layout #7 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{n.titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{n.img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{internal_link[loop.index-1]}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{n.descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{n.fonte}}</p></li>
                                        <li>{{n.dt_post}} - {{n.hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{internal_link[loop.index-1]}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #7 with image -->
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- /col 8-->
                    
                </div>
                <!-- /main charts - row 3 -->
		
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link3").setAttribute('class', "active");
    document.getElementById("link_home").innerHTML = "News";
    </script>

{% endblock %}
