{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
			
			<!-- Main charts  row 1-->
				<div class="row">
                    <!-- col 0-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <!-- Blog layout #1 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{news[0].titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{news[0].img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{news[0].url}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{news[0].descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{news[0].fonte}}</p></li>
                                        <li>{{news[0].dt_post}} - {{news[0].hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{news[0].url}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #1 with image -->

                        <!-- Blog layout #2 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{news[3].titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{news[3].img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{news[3].url}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{news[3].descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{news[3].fonte}}</p></li>
                                        <li>{{news[3].dt_post}} - {{news[3].hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{news[3].url}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #3 with image -->

                        <!-- Blog layout #6 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{news[6].titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{news[6].img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{news[6].url}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{news[6].descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{news[6].fonte}}</p></li>
                                        <li>{{news[6].dt_post}} - {{news[6].hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{news[6].url}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #6 with image -->
                    </div>
                    <!-- /col 0-->

                    <!-- col 1-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <!-- Blog layout #1 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{news[1].titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{news[1].img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{news[1].url}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{news[1].descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{news[1].fonte}}</p></li>
                                        <li>{{news[1].dt_post}} - {{news[1].hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{news[1].url}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #4 with image -->

                        <!-- Blog layout #5 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{news[4].titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{news[4].img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{news[4].url}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{news[4].descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{news[4].fonte}}</p></li>
                                        <li>{{news[4].dt_post}} - {{news[4].hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{news[4].url}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #4 with image -->

                        <!-- Blog layout #7 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{news[7].titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{news[7].img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{news[7].url}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{news[7].descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{news[7].fonte}}</p></li>
                                        <li>{{news[7].dt_post}} - {{news[7].hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{news[7].url}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #6 with image -->
                    </div>
                    <!-- /col 1-->
                    
                    <!-- col 2-->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <!-- Blog layout #7 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{news[2].titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{news[2].img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{news[2].url}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{news[2].descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{news[2].fonte}}</p></li>
                                        <li>{{news[2].dt_post}} - {{news[2].hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{news[2].url}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #7 with image -->

                        <!-- Blog layout #8 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{news[5].titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{news[5].img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{news[5].url}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{news[5].descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{news[5].fonte}}</p></li>
                                        <li>{{news[5].dt_post}} - {{news[5].hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{news[5].url}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #8 with image -->

                        <!-- Blog layout #9 with image -->
                        <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                            <div class="panel-heading">
                                <h5 class="panel-title text-semibold">
                                    {{news[8].titolo}}
                                </h5>
                            </div>
                            
                            <div class="panel-body">
                                <div class="thumb">
                                    <img src="{{news[8].img}}" alt="" class="img-responsive">
                                        <div class="caption-overflow">
                                            <span>
                                                <a href="{{news[8].url}}" target='_blank' class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                        </div>
                                
                                <div class="blog-preview">
                                    <p>{{news[8].descrizione}}</p>
                                </div>
                            </div>
                            
                            <div class="panel-footer panel-footer-transparent">
                                <div class="heading-elements">
                                    <ul class="list-inline list-inline-separate heading-text text-muted">
                                        <li>By <p class="text-muted">{{news[8].fonte}}</p></li>
                                        <li>{{news[8].dt_post}} - {{news[8].hour_post}}</li>
                                    </ul>
                                    
                                    <a href="{{news[8].url}}" class="heading-text pull-right" target='_blank'>Read more <i class="icon-arrow-right14 position-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /blog layout #9 with image -->
                    </div>
                    <!-- /col 8-->
                    
                </div>
                <!-- /main charts - row 3 -->
		
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link3").setAttribute('class', "active");
    document.getElementById("link_home").innerHTML = "News";
    </script>

{% endblock %}
