{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
                
                <div class="panel">
                    <div class="panel-body">
                        <h2 class="text-center content-group-lg">
                            Osservatorio
                            <small class="display-block">L'osservatorio raccoglie le principali informazioni provenienti dal web e dal mondo social relative alle <strong>elezioni politiche</strong> e le espone attraverso degli indicatori sintetici</small>
                        </h2>
                        <div style="float:right">
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
                        </div>
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.monitoraggioelezioni.it%2Fosservatorio&layout=button&size=small&mobile_iframe=true&appId=165415010725423&width=79&height=20" width="79" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" align="right">
                        </iframe>
                    </div>
                </div>
			
			<!-- Main charts -->
            <div class="row">
                
                <!-- col -->
                {% for u in user %}
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <!-- User card with thumb and social icons at the bottom -->
                    <div class="panel">
                        <div class="panel-body text-center">
                            {% if u=='Renzi' %}
                            <span class="display-inline-block">
                                <img src="{{ url_for('static', filename='assets/images/Renzi.jpg') }}" class="img-circle img-responsive" alt="Matteo Renzi" style="width: 120px; height: 120px;">
                            </span>
                            <h6 class="text-semibold no-margin-bottom">
                                <span class="text-default">Matteo Renzi</span>
                                <small class="display-block">Partito Democratico</small>
                            </h6>
                            {% elif u=='Di Maio' %}
                            <span class="display-inline-block">
                                <img src="{{ url_for('static', filename='assets/images/DiMaio.png') }}" class="img-circle img-responsive" alt="Luigi Di Maio" style="width: 120px; height: 120px;">
                            </span>
                            <h6 class="text-semibold no-margin-bottom">
                                <span class="text-default" target='_blank'>Luigi Di Maio</span>
                                <small class="display-block">Movimento 5 Stelle</small>
                            </h6>
                            {% elif u=='Berlusconi' %}
                            <span class="display-inline-block">
                                <img src="{{ url_for('static', filename='assets/images/Silvio.jpg') }}" class="img-circle img-responsive" alt="Silvio Berlusconi" style="width: 120px; height: 120px;">
                            </span>
                            <h6 class="text-semibold no-margin-bottom">
                                <span class="text-default" target='_blank'>Silvio Berlusconi</span>
                                <small class="display-block">Forza Italia</small>
                            </h6>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /user card with thumb and social icons at the bottom -->
                    
                    <!-- Simple statistics Facebook -->
                    <div class="panel panel-body panel-body-accent">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                {% if u=='Renzi' %}
                                <a href="https://www.facebook.com/{{id_user1_fb}}" target='_blank'><i class="icon-facebook2 icon-2x text-primary"></i></a>
                                {% elif u=='Di Maio' %}
                                <a href="https://www.facebook.com/{{id_user2_fb}}" target='_blank'><i class="icon-facebook2 icon-2x text-primary"></i></a>
                                {% elif u=='Berlusconi' %}
                                <a href="https://www.facebook.com/{{id_user3_fb}}" target='_blank'><i class="icon-facebook2 icon-2x text-primary"></i></a>
                                {% endif %}
                            </div>
                            <div class="media-body text-right">
                                {% if u=='Renzi' %}
                                <h3 class="no-margin text-semibold">{{fb_fans[0].fb_fans}}</h3>
                                {% elif u=='Di Maio' %}
                                <h3 class="no-margin text-semibold">{{fb_fans2[0].fb_fans}}</h3>
                                {% elif u=='Berlusconi' %}
                                <h3 class="no-margin text-semibold">{{fb_fans3[0].fb_fans}}</h3>
                                {% endif %}
                                <span class="text-uppercase text-size-mini text-muted">Facebook Fans</span>
                            </div>
                        </div>
                        <!-- Basic area chart -->
                        </br>
                        <div class="text-muted text-size-small">Trend Facebook Fans</div>
                        {% if u=='Renzi' %}
                        <div id="monthly-sales-stats1"></div>
                        {% elif u=='Di Maio' %}
                        <div id="monthly-sales-stats2"></div>
                        {% elif u=='Berlusconi' %}
                        <div id="monthly-sales-stats3"></div>
                        {% endif %}
                        <!-- /basic area chart -->

                        <!-- Facebook Statistics -->
                        <div class="text-size-small text-muted">
                            {% if u=='Renzi' %}
                            <i class="icon-bubbles2 text-size-base text-pink position-left"> {{fb_post1[0].post_day | round(1)}}</i>- Media post giornalieri
                            {% elif u=='Di Maio' %}
                            <i class="icon-bubbles2 text-size-base text-pink position-left"> {{fb_post2[0].post_day | round(1)}}</i>- Media post giornalieri
                            {% elif u=='Berlusconi' %}
                            <i class="icon-bubbles2 text-size-base text-pink position-left"> {{fb_post3[0].post_day | round(1)}}</i>- Media post giornalieri
                            {% endif %}
                        </div>
                        <div class="text-size-small text-muted">
                            {% if u=='Renzi' %}
                            <i class="icon-heart6 text-size-base text-pink position-left"> {{fb_post1[0].likes_day | round}}</i>- Media likes giornalieri
                            {% elif u=='Di Maio' %}
                            <i class="icon-heart6 text-size-base text-pink position-left"> {{fb_post2[0].likes_day | round}}</i>- Media likes giornalieri
                            {% elif u=='Berlusconi' %}
                            <i class="icon-heart6 text-size-base text-pink position-left"> {{fb_post3[0].likes_day | round}}</i>- Media likes giornalieri
                            {% endif %}
                        </div>
                        <!-- /Facebook Statistics -->
                        
                    </div>
                    <!-- /Simple statistics Facebook-->
                    
                    <!-- Simple statistics Twitter-->
                    <div class="panel panel-body panel-body-accent">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                {% if u=='Renzi' %}
                                <a href="https://twitter.com/{{id_user1_tw}}" target='_blank'><i class="icon-twitter2 icon-2x text-primary"></i></a>
                                {% elif u=='Di Maio' %}
                                <a href="https://twitter.com/{{id_user2_tw}}" target='_blank'><i class="icon-twitter2 icon-2x text-primary"></i></a>
                                {% elif u=='Berlusconi' %}
                                <a href="https://twitter.com/{{id_user3_tw}}" target='_blank'><i class="icon-twitter2 icon-2x text-primary"></i></a>
                                {% endif %}
                            </div>
                            <div class="media-body text-right">
                                {% if u=='Renzi' %}
                                <h3 class="no-margin text-semibold">{{tw_fans[0].tw_fans}}</h3>
                                {% elif u=='Di Maio' %}
                                <h3 class="no-margin text-semibold">{{tw_fans2[0].tw_fans}}</h3>
                                {% elif u=='Berlusconi' %}
                                <h3 class="no-margin text-semibold">{{tw_fans3[0].tw_fans}}</h3>
                                {% endif %}
                                <span class="text-uppercase text-size-mini text-muted">Twitter Fans</span>
                            </div>
                        </div>
                        <!-- Basic area chart -->
                        </br>
                        <div class="text-muted text-size-small">Trend Twitter Fans</div>
                        {% if u=='Renzi' %}
                        <div id="monthly-tw-stats1"></div>
                        {% elif u=='Di Maio' %}
                        <div id="monthly-tw-stats2"></div>
                        {% elif u=='Berlusconi' %}
                        <div id="monthly-tw-stats3"></div>
                        {% endif %}
                        <!-- /basic area chart -->
                        
                        <!-- Twitter Statistics -->
                        <div class="text-size-small text-muted">
                            {% if u=='Renzi' %}
                            <i class="icon-bubbles2 text-size-base text-pink position-left"> {{tw_post1[0].post_day | round(1)}}</i>- Media tweet giornalieri
                            {% elif u=='Di Maio' %}
                            <i class="icon-bubbles2 text-size-base text-pink position-left"> {{tw_post2[0].post_day | round(1)}}</i>- Media tweet giornalieri
                            {% elif u=='Berlusconi' %}
                            <i class="icon-bubbles2 text-size-base text-pink position-left"> {{tw_post3[0].post_day | round(1)}}</i>- Media tweet giornalieri
                            {% endif %}
                        </div>
                        <div class="text-size-small text-muted">
                            {% if u=='Renzi' %}
                            <i class="icon-heart6 text-size-base text-pink position-left"> {{tw_post1[0].likes_day | round}}</i>- Media likes giornalieri
                            {% elif u=='Di Maio' %}
                            <i class="icon-heart6 text-size-base text-pink position-left"> {{tw_post2[0].likes_day | round}}</i>- Media likes giornalieri
                            {% elif u=='Berlusconi' %}
                            <i class="icon-heart6 text-size-base text-pink position-left"> {{tw_post3[0].likes_day | round}}</i>- Media likes giornalieri
                            {% endif %}
                        </div>
                        <!-- /Twitter Statistics -->
                        
                    </div>
                    <!-- /Simple statistics Twitter-->
                    
                    <!-- Word Cloud-->
                    <div class="thumbnail">
                        <div class="thumb">
                            {% if u=='Renzi' %}
                            <img src="{{ url_for('static', filename='assets/images/wordcloud_renzi.png') }}" alt="Word Cloud">
                            {% elif u=='Di Maio' %}
                            <img src="{{ url_for('static', filename='assets/images/wordcloud_dimaio.png') }}" alt="Word Cloud">
                            {% elif u=='Berlusconi' %}
                            <img src="{{ url_for('static', filename='assets/images/wordcloud_berlusconi.png') }}" alt="Word Cloud">
                            {% endif %}
                        </div>
                        <div class="caption">
                            <h6 class="no-margin"><span class="text-default">Web Word Cloud</span>
                        </div>
                    </div>
                    <!-- /Word Cloud-->
                    
                    <!-- Pubblicità -->
                    <div class="thumbnail">
                        <div class="thumb">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                style="display:block"
                                data-ad-format="fluid"
                                data-ad-layout-key="-8h+1v-ds+e7+gn"
                                data-ad-client="ca-pub-6362347303628164"
                                data-ad-slot="8077610890"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                        </div>
                    </div>
                     <!-- /Pubblicità -->
                    
                </div>
                {% endfor %}
                <!-- \col-->
            </div>
            <!-- /main charts -->
		
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link5").setAttribute('class', "active");
    document.getElementById("link_home").innerHTML = "Osservatorio";
    </script>

    <script  type="text/javascript" src="{{ url_for('static', filename='assets/js/elezioni_chart.js') }}"></script>

{% endblock %}
