{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
                
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div class="content-group-lg">
                            <h2 class="text-semibold">Cookie Policy - Informativa Estesa</h2>
                            <p>Il sito utilizza i cookie per attività strettamente necessarie al funzionamento e per attività di ottimizzazione e statistica.</p>
                        </div>
                        
                        <div class="content-group-lg">
                            <h6 class="text-semibold">Cosa sono i cookie?</h6>
                            <p>I cookie sono piccoli file di testo inviati dal sito al terminale dell’interessato (solitamente al browser), dove vengono memorizzati per essere poi ritrasmessi al sito alla successiva visita del medesimo utente. Un cookie non può richiamare nessun altro dato dal disco fisso dell’utente né trasmettere virus informatici o acquisire indirizzi email. Ogni cookie è unico per il web browser dell’utente. Alcune delle funzioni dei cookie possono essere demandate ad altre tecnologie. Nel presente documento con il termine ‘cookie’ si vuol far riferimento sia ai cookie, propriamente detti, sia a tutte le tecnologie similari.</p>
                            <h6 class="text-semibold">Tipologia dei cookie</h6>
                            <p>I cookie possono essere di prima o di terza parte, dove per “prima parte” si intendono i cookie che riportano come dominio il sito, mentre per “terza parte” si intendono i cookie che sono relativi a domini esterni.
                            </br>
                            I cookie di terza parte sono necessariamente installati da un soggetto esterno, sempre definito come “terza parte”, non gestito dal sito. Tali soggetti possono eventualmente installare anche cookie di prima parte, salvando sul dominio del sito i propri cookie.
                            </br>
                            Un altro tipo di cookie sono i cosiddetti “Flash Cookie” (Local Shared Objects), utilizzati all’interno di Adobe Flash Player per erogare alcuni contenuti, come video clip o animazioni, in modo da ricordare le impostazioni e preferenze. I Flash cookie sono archiviati sul dispositivo, ma sono gestiti attraverso un’interfaccia differente rispetto a quella fornita dal browser utilizzato.
                            </p>
                            <h6 class="text-semibold">Natura dei cookie</h6>
                            Relativamente alla natura dei cookie, ne esistono di diversi tipi:
                            </br>
                            <strong>Cookie tecnici</strong>
                            </br>
                            I cookie tecnici sono quelli utilizzati al solo fine di “effettuare la trasmissione di una comunicazione su una rete di comunicazione elettronica, o nella misura strettamente necessaria al fornitore di un servizio della società dell’informazione esplicitamente richiesto dall’abbonato o dall’utente a erogare tale servizio” (cfr. art. 122, comma 1, del Codice).
                            </br>
                            Essi non vengono utilizzati per scopi ulteriori e sono normalmente installati direttamente dal titolare o gestore del sito web. Possono essere suddivisi in:
                            <ul>
                            <li><strong>cookie di navigazione o di sessione</strong>, che garantiscono la normale navigazione e fruizione del sito web (permettendo, ad esempio, di realizzare un acquisto o autenticarsi per accedere ad aree riservate); essi sono di fatto necessari per il corretto funzionamento del sito;</li>
                            <li><strong>cookie analytics</strong>, assimilati ai cookie tecnici laddove utilizzati direttamente dal gestore del sito per raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito stesso, al fine di migliorare le performance del sito;</li>
                            <li><strong>cookie di funzionalità</strong>, che permettono all’utente la navigazione in funzione di una serie di criteri selezionati (ad esempio, la lingua, i prodotti selezionati per l’acquisto) al fine di migliorare il servizio reso allo stesso. Per l’installazione di tali cookie non è richiesto il preventivo consenso degli utenti (più informazioni nel paragrafo Gestione dei cookie in basso).</li>
                            </ul>
                            <strong>Cookie di profilazione</strong>
                            </br>
                            I cookie di profilazione sono volti a creare profili relativi all’utente e vengono utilizzati al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate dallo stesso nell’ambito della navigazione in rete.
                            </br>
                            Per l’utilizzo dei cookie di profilazione è richiesto il consenso dell’interessato. Secondo il provvedimento (più informazioni nel paragrafo Gestione dei cookie in basso) l’utente può autorizzare o negare il consenso all’installazione dei cookie attraverso le opzioni fornite nella sezione “Gestione dei cookie”.
                            </br>
                            In caso di cookie di terze parti, il sito non ha un controllo diretto dei singoli cookie e non può controllarli (non può né installarli direttamente né cancellarli). Puoi comunque gestire questi cookie attraverso le impostazioni del browser (segui le istruzioni riportate più avanti), o i siti indicati nella sezione “Gestione dei cookie”.
                            </br>
                            L’Utente è pertanto invitato a verificare sul sito della terza parte indicato nella tabella riportata di seguito.
                            </br>
                            <h6 class="text-semibold">Cookie installati su questo sito:</h6>
                            Ecco l’elenco dei cookie (raggruppati logicamente a livello di funzionalità o fornitore) presenti su questo sito. I cookie di terze parti presentano il collegamento all’informativa della privacy del relativo fornitore esterno, dove è possibile trovare una dettagliata descrizione dei singoli cookie e del trattamento che ne viene fatto.
                            </br>
                            Elenco dei cookie tecnici presenti sul sito www.monitoraggioelezioni.it:
                            <ul>
                            <li><strong>Cookie di sistema</strong>
                                </br>
                                Il sito www.monitoraggioelezioni.it utilizza cookie per garantire all’utente una migliore esperienza di navigazione; tali cookie sono indispensabili per la fruizione corretta del sito. Puoi disabilitare questi cookie dal browser seguendo le indicazioni nel paragrafo dedicato, ma comprometterai la tua esperienza sul sito e non potremo rispondere dei malfunzionamenti.
                            </li>
                            <li><strong>Google Analytics</strong>
                                </br>
                                Si tratta di cookie di monitoraggio per la generazione di statistiche sull’utilizzo del sito web; Google Analytics utilizza cookie che non memorizzano dati personali e che vengono depositati sul computer dell’utente per consentire al gestore del sito web di analizzare come gli utenti utilizzano il sito stesso. Per impedire la memorizzazione dei predetti cookie l’utente potrà seguire la procedura reperibile al seguente link:http://www.google.com/intl/it_ALL/analytics/learn/privacy.html
                            </li>
                            </ul>
                            Elenco dei cookie di profilazione presenti sul sito www.monitoraggioelezioni.it:
                            <ul>
                            <li><strong>Google Doubleclick</strong>
                                </br>
                                DoubleClick utilizza i cookie per migliorare la pubblicità, e usa i cookie per la selezione della pubblicità in base a ciò che è pertinente per un utente e per impedire che l’utente visualizzi annunci già mostrati in passato. Google Doubleclick permette di gestire campagne su canali di terze parti, i quali a loro volta possono installare cookie di profilazione. Maggiori informazioni, anche in relazione alle modalità con le quali poter disattivare detti cookie, reperibili al seguente link: http://www.google.com/policies/technologies/ads/
                            </li>
                            </ul>
                            Elenco dei cookie di terze parti presenti sul sito www.monitoraggioelezioni.it:
                            <ul>
                                <li><strong>Twitter</strong>
                                    </br>
                                    Il pulsante Tweet e i widget sociali di Twitter sono servizi di interazione con il social network Twitter, forniti da Twitter, Inc. Maggiori informazioni su: http://twitter.com/privacy
                                </li>
                                <li><strong>Facebook</strong>
                                    </br>
                                    Il pulsante “Cndividi” e i widget sociali di Facebook sono servizi di interazione con il social network Facebook, forniti da Facebook, Inc. Maggiori informazioni su: http://www.facebook.com/policy.php
                                </li>
                            </ul>
                            <h6 class="text-semibold">Durata dei cookie:</h6>
                            I cookie hanno una durata dettata dalla data di scadenza (o da un’azione specifica come la chiusura del browser) impostata al momento dell’installazione.
                            I cookie possono essere:
                            <ul>
                                <li><strong>temporanei o di sessione</strong>, (session cookie): sono utilizzati per archiviare informazioni temporanee, consentono di collegare le azioni eseguite durante una sessione specifica e vengono rimossi dal computer alla chiusura del browser;
                                </li>
                                <li><strong>permanenti</strong>, (persistent cookie): sono utilizzati per archiviare informazioni, ad esempio il nome e la password di accesso, in modo da evitare che l’utente debba digitarli nuovamente ogni volta che visita un sito specifico. Questi rimangono memorizzati nel computer anche dopo aver chiuso il browser.
                                </li>
                            </ul>
                            <h6 class="text-semibold">Gestione dei cookie:</h6>
                            In rispetto alle direttive del <strong>Codice in materia di protezione dei dati personali (d.lg. 30 giugno 2003, n. 196,</strong> di seguito “Codice”) e, in particolare, agli <strong>artt. 13, comma 3 e 122, comma 1</strong> e in riferimento al provvedimento di <strong>Individuazione delle modalità semplificate per l’informativa e l’acquisizione del consenso per l’uso dei cookie – 8 maggio 2014</strong> (Pubblicato sulla Gazzetta Ufficiale n. 126 del 3 giugno 2014), puoi modificare in qualsiasi momento il consenso ai cookie direttamente da questo link – <a href="/policy">gestione dei cookie</a>.
                            </br></br>
                            www.monitoraggioelezioni.it terrà opportuna traccia del/dei consenso/i dell’Utente attraverso un apposito cookie tecnico, considerato dal Garante Privacy uno strumento “non particolarmente invasivo”. L’Utente può modificare in ogni momento le proprie opzioni relative all’uso dei cookie da parte del presente Sito Web, tramite accesso alla presente Informativa Privacy che è “linkabile” da ogni pagina del presente Sito.
                            </br></br>
                            Se è già stato dato il consenso ma si vogliono cambiare le autorizzazioni dei cookie, bisogna cancellarli attraverso il browser, come indicato sotto, perché altrimenti quelli già installati non verranno rimossi. In particolare, si tenga presente che non è possibile in alcun modo controllare i cookie di terze parti, quindi se è già stato dato precedentemente il consenso, è necessario procedere alla cancellazione dei cookie attraverso il browser (sezione dedicata) oppure chiedendo l'opt-out direttamente alle terze parti o tramite il sito <a href="http://www.youronlinechoices.com/it/le-tue-scelte">http://www.youronlinechoices.com/it/le-tue-scelte</a>
                            </br></br>
                            Se vuoi saperne di più, puoi consultare i seguenti siti:
                            <ul>
                                <li>http://www.youronlinechoices.com/</li>
                                <li>http://www.allaboutcookies.org/</li>
                                <li>https://www.cookiechoices.org/</li>
                                <li>http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb- display/docweb/3118884</li>
                            </ul>
                            </br>
                            Di seguito sono riportati i link per disabilitare/cancellare i cookie mediante configurazione del browser:
                            </br>
                            <ul>
                            <li><strong>Chrome</strong>: <a href="https://support.google.com/chrome/answer/95647?hl=it">https://support.google.com/chrome/answer/95647?hl=it</a></li>
                            <li><strong>Firefox</strong>: <a href="https://support.mozilla.org/it/kb/Gestione%20dei%20cookie">https://support.mozilla.org/it/kb/Gestione%20dei%20cookie</a></li>
                            <li><strong>Internet Explorer</strong>: <a href="http://windows.microsoft.com/it-it/windows7/how-to-manage-cookies-in-internet-explorer-9">http://windows.microsoft.com/it-it/windows7/how-to-manage-cookies-in-internet-explorer-9</a></li>
                            <li><strong>Opera</strong>: <a href="http://help.opera.com/Windows/10.00/it/cookies.html">http://help.opera.com/Windows/10.00/it/cookies.html</a></li>
                            <li><strong>Safari</strong>: <a href="Safari: http://support.apple.com/kb/HT1677?viewlocale=it_IT">Safari: http://support.apple.com/kb/HT1677?viewlocale=it_IT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link_home").innerHTML = "Cookie Policy";
    </script>

{% endblock %}
