{% extends "layout.html" %}
{% block body %}

		<!-- Page content -->
		<div class="page-content">
		
			<!-- Main content -->
			<div class="content-wrapper">
			
			<!-- Main charts -->
				<div class="row">
                    <!-- col -->
					<div class="col-sm-4 col-lg-4">

						<!-- User card with thumb and social icons at the bottom -->
						<div class="panel">
							<div class="panel-body text-center">
								<a href="#" class="display-inline-block">
									<img src="{{ url_for('static', filename='assets/images/Renzi.jpg') }}" class="img-circle img-responsive" alt="" style="width: 120px; height: 120px;">
								</a>

								<h6 class="text-semibold no-margin-bottom">
									<a href="#" class="text-default">Matteo Renzi</a>
									<small class="display-block">Partito Democratico</small>
								</h6>	
							</div>
						</div>
						<!-- /user card with thumb and social icons at the bottom -->
							
					</div>
					<!-- /col -->
                    
                    <!-- col -->
                    <div class="col-sm-4 col-lg-4">
                        
                        <!-- User card with thumb and social icons at the bottom -->
                        <div class="panel">
                            <div class="panel-body text-center">
                                <a href="#" class="display-inline-block">
                                    <img src="{{ url_for('static', filename='assets/images/DiMaio.png') }}" class="img-circle img-responsive" alt="" style="width: 120px; height: 120px;">
                                        </a>
                                
                                <h6 class="text-semibold no-margin-bottom">
                                    <a href="#" class="text-default">Luigi Di Maio</a>
                                    <small class="display-block">Movimento 5 Stelle</small>
                                </h6>
                            </div>
                        </div>
                        <!-- /user card with thumb and social icons at the bottom -->
                    
                        
                    </div>
                    <!-- /col -->
                    
                    <!-- col -->
                    <div class="col-sm-4 col-lg-4">
                        
                        <!-- User card with thumb and social icons at the bottom -->
                        <div class="panel">
                            <div class="panel-body text-center">
                                <a href="#" class="display-inline-block">
                                    <img src="{{ url_for('static', filename='assets/images/Salvini.jpg') }}" class="img-circle img-responsive" alt="" style="width: 120px; height: 120px;">
                                        </a>
                                
                                <h6 class="text-semibold no-margin-bottom">
                                    <a href="#" class="text-default">Matteo Salvini</a>
                                    <small class="display-block">Lega Nord</small>
                                </h6>
                            </div>
                        </div>
                        <!-- /user card with thumb and social icons at the bottom -->
                        
                        
                    </div>
                    <!-- /col -->

				</div>
				<!-- /main charts -->
		
			</div>
			<!-- /main content -->
			
		</div>
		<!-- /Page content -->

    <script>
    document.getElementById("link4").setAttribute('class', "active");
    document.getElementById("link_home").innerHTML = "YouTube";
    </script>

{% endblock %}
